.sp_EFvMd5CREQe{background-image:url(/rsrc.php/v3/yr/r/wpJ4nN7_oKs.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_EFvMd5CREQe.sx_09c060{background-position:0 0}

#bootloader_MEG8T{height:42px;}.bootloader_MEG8T{display:block!important;}